* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 50px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  float: left;
  font-weight: bold;
  line-height: 32px;
  /*margin-right: -2px;*/
  margin-top: -2px;
  text-align: center;
  position: relative;
  top: 1px;
  right: 1px;
}

.board-row {
  padding: 1px;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}
