* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  border: 2px solid;
  border-radius: 5px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  height: 34px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 34px;
  position: relative;
  top: 1px;
  right: 1px;
}

.board-row {
  padding: 1px;
  margin: 5px;
  Width: fit-content;
  border-radius: 5px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}
